header
  .h-left
    img(src="media/menu.svg", class="menuOpen")
  .h-middle
    h3 BROWSE
  .h-right
    img(src="media/info.svg")
.searchBar
  .sb-left
    img(src="media/search.svg")
  .sb-right
    form(method="GET")
      input(type="text", method="", action="", autocomplete="off", id="search", placeholder="Search by artists or music names" , value=query)
.musics
    p &nbsp
.nt-wrapper
   .nothing
     .bt
      h4 Don’t know what to listen?
      p Check zenmusic’s playlists choices!
     p(class="playlists") PLAYLISTS
