html
  head
    title zenmusic
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    header
      .h-left
        img(src="media/menu.svg")
      .h-middle
        h4 HOME
      .h-right
        img(src="media/info.svg")
