header
  .h-left
    img(src="media/menu.svg")
  .h-middle
    h4 HOME
  .h-right
    img(src="media/info.svg")
nav
  a(href="#", id="homeBtn")
    li HOME
  a(href="#", id="genresBtn")
    li GENRES
  a(href="#", id="browseBtn")
    li BROWSE
  a(href="#", id="playerBtn")
    li PLAYER
