nav(id="menuu")
  .nav-cont
    .nc-ins
      .title
        h2 MENU
        br 
      ul(class="items")
        li(id="homeBtn") HOME
        li(id="genresBtn") GENRES
        li(id="browseBtn") BROWSE
        li(id="playerBtn") PLAYER
        br 
        li UPDATES
        li INFO
